<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisdemo.mapper.ApiConfigMapper">

    <!-- 开启二级缓存 -->
    <cache eviction="LRU" flushInterval="100000" readOnly="true" size="1024"></cache>

    <select id="selectApiConfig" resultType="map">
        select api_id as apiId,
        sql_id as sqlId,
        sql_str as sqlStr,
        column_type as columnType,
        column_name as columnName
        from t_ds_api_config

    </select>
</mapper>